@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.header{
  text-align: center;
}

h3{
  font-family: 'Poppins', sans-serif;
  color: #FB2C48;
}

h4{
  font-family: 'Poppins', sans-serif;
}